.catalog {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px   ;
    padding: 40px;
    font-family: Arial, sans-serif;
  }
  
  .catalog h2 {
    background-color: white;
    color: black;
    
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
  }

  h2:hover {
   
    border-radius: 5px;
    scale: 1.005;
    cursor: pointer;
   
    color: black;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px 0;
    
  }

  .product-grid:hover {
   
   
    cursor: pointer;
  }
  
  .product-grid img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 250px;
    max-height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra exterior ligera */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave para la sombra */
}

.ImagenCatalogo:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el cursor */
}

  
  /* Añade estilos adicionales para ajustar el diseño de los encabezados y el fondo según la imagen de referencia */
  .catalog header {
    background-color: #c20000; /* Rojo oscuro del logo */
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-size: 24px;
  }
  
  .catalog header a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .catalog header a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para la navegación de usuario en la esquina superior derecha */
  .usuario {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .usuario a {
    text-decoration: none;
    color: #333;
  }
  
  .usuario a:hover {
    text-decoration: underline;
  }
   
