/* Container setup */
.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.site-name {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* Main content styling */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 40px; /* Aumenta la separación entre el texto y la imagen */
}

.text-content {
  flex: 1;
  max-width: 35%; /* Reduce el ancho máximo del texto para dar más espacio a la imagen */
}

.text-content h1 {
  font-size: 36px;
  font-weight: bold;
}

.text-content h2 {
  font-size: 24px;
  color: gray;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.image-content {
  flex: 2; /* Incrementa el espacio asignado a la imagen */
  min-width: 800px; /* Asegura que la imagen tenga un ancho mínimo de 800 píxeles */
  max-width: 60%; /* Limita el ancho máximo de la imagen para mantener la estructura */
  text-align: right; /* Centra la imagen horizontalmente */
}

.image-content img {
  flex: 2;
  width: 60%; /* Asegura que la imagen ocupe todo el espacio disponible en su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 1000px; /* Limita el ancho máximo de la imagen */
  border-radius: 10px; /* Borde redondeado para estética */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra a la imagen para destacar */
}

.ImagenSN :hover{
  scale: 1.1;
  cursor: pointer;

}
/* Footer styling */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.footer-site-name {
  font-size: 18px;
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
