.bar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra exterior ligera */
}

.logo {
    height: 60px;
    border-radius: 8px;
    width: auto;
    margin-right: auto; /* Asegura que todo el espacio extra se mueva hacia la derecha */
}

.logo:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 0; /* Establece el espacio entre los elementos a 0 */
}

.bar-link {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 0px; /* Elimina cualquier margen izquierdo */
    margin-right: 5vh;
    text-decoration: none;
}

.bar-link:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    /* background-color: salmon; */
}

.usuario-link {
    color: white; /* Cambia el color a rojo */
    background-color: red;
}

.usuario-link:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
